.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .chartContainer {
      width: 453px;
      height: 432px;
      border-radius: 16px;
      background-color: #191919;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;
      flex-direction: column;

      .chartText {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: auto;
        margin-top: 30px;
        span {
          color: #fff;
          margin-left: 20px;
          margin-right: auto;
          &:last-child {
            font-size: 12px;
            position: relative;
            margin-right: 60px;

            &::before {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: #adea57;
              left: -15px;
              top: 1px;
              border-radius: 2px;
            }
          }
        }
      }
    }

    .tableContainer {
      width: 641px;
      height: 412px;
      border-radius: 16px;
      background-color: #191919;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20px;
      margin-left: 8px;

      .filter {
        width: 100%;
        display: flex;
        padding-left: 33px;
      }
    }
  }
}
